<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="dbConnectionString"
			providerName="System.Data.SqlClient"
			connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=saving_books_management;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
			/>
	</connectionStrings>
</configuration>